<div class="navbar-menu">
    <!-- Account -->
    <div class="navbar-item has-dropdown">
        <a href="account" class="navbar-link">
            <img id="mobile-avatar" src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/altvatar.png" alt="">
            <span id="mobile-username" class="is-heading">Welcome, Guest</span>
        </a>

        <!-- Mobile Dropdown -->
        <div class="navbar-dropdown">
            <a href="/" class="navbar-item">Home</a>
            <a href="cart-empty" class="navbar-item is-flex">
                <span>Cart</span>
                <!-- Number of items in Cart -->
                <span id="mobile-cart-count" class="menu-badge">0</span>
            </a>
            <a href="/account" class="navbar-item">Account</a>
            <a href="/wishlists" class="navbar-item">Wishlists</a>
            <a href="/orders" class="navbar-item">Orders</a>
            <a id="mobile-login-link" href="authentication" class="navbar-item">Login</a>
            <a id="mobile-register-link" href="authentication" class="navbar-item">Register</a>
            <a id="mobile-logout-link" class="navbar-item is-hidden">Logout</a>
        </div>
    </div>

    <!-- More -->
    <div class="navbar-item has-dropdown">
        <a class="navbar-link">
            <i data-feather="grid"></i>
            <span class="is-heading">Categories</span>
        </a>

        <!-- Mobile Dropdown -->
        <div class="navbar-dropdown">
            <a href="products" class="navbar-item">House</a>
            <a href="products" class="navbar-item">Office</a>
            <a href="products" class="navbar-item">Kids</a>
            <a href="products" class="navbar-item">Kitchen</a>
            <a href="products" class="navbar-item">Accessories</a>
        </div>
    </div>
</div>